.contact-section {
  padding: 5rem;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.contact-h1 {
  margin: 1rem;
  padding-bottom: 5rem;
  /*font-family: "Poppins", sans-serif;*/
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.contact-icon {
  text-align: center;
}

.contact-icon img {
  max-width: 5rem;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.3));
}

.contact-icon-title {
  margin-top: 2rem;
  font-size: 24px;
  font-weight: 500;
}

.contact-description {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 2rem;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .contact-icon-title {
    font-size: 18px;
  }

  .contact-description {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .contact-icon-title {
    font-size: 18px;
  }

  .contact-description {
    font-size: 14px;
  }

  .contact-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (min-width: 900px) {
  .contact-icon-title {
    font-size: 20px;
  }

  .contact-description {
    font-size: 16px;
  }
}
